/*:host {
  width: 60%;
}*/
.message {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 0.2rem;
  padding: 0.4rem 0.6rem 0.6rem 0.6rem;
  width: fit-content;
  min-width: 10rem;
  max-width: 90%;
  filter: none;
  border-radius: 8px;
  &.left {
    justify-self: flex-start;
    background-color: var(--secondary);
  }
  &.right {
    justify-self: flex-end;
  }
  &.progress {
    grid-template-columns: auto 1fr;
    grid-gap: 0.4rem;
  }
  .date {
    border-bottom: 1px solid var(--separators);
    margin-bottom: 0.2rem;
    display: grid;
    grid-template-columns: 1fr auto; // auto;
    grid-gap: 0 0.4rem;
    play-svg {
      cursor: pointer;
    }
  }
  p.content {
    overflow: auto;
  }
  .message-action-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
  }
  .attachment-list {
    display: flex;
    align-items: stretch;
    gap: 0.4rem;
    overflow: auto;
    .attachment {
      display: flex;
      gap: 0.2rem;
      padding: 0.3rem 0.4rem;
      border: 1px solid var(--main-border-color);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
