<ng-container *ngIf="!!message">
  <div class="message dashboard-card darkBkgScroll" [class.left]="message.type === EMessageType.Agent"
    [class.right]="message.type === EMessageType.Human"
    [class.progress]="message.eventTypeMessage === EEventTypes.ProgressStatus">
    <app-loader-spinner class="small" *ngIf="message.eventTypeMessage === EEventTypes.ProgressStatus" />
    <p class="content" *ngIf="message.type === EMessageType.Human">{{ message.message }}</p>
    <markdown [data]="message.message || 'Pensando..'" *ngIf="message.type === EMessageType.Agent" prism appRenderKatex>
    </markdown>
    <ng-container *ngIf="message.buttons">
      <button class="terciary message-action-btn margin-top-small" *ngFor="let button of message.buttons" (click)="clickButton(button)">
        {{ button.label | translate }}
      </button>
    </ng-container>
    <app-chat-attachs class="margin-top-small" [attachs]="message.attachments" [canRemove]="false"
      [groupItemsPlacement]="NgxFloatUiPlacements.BOTTOMEND" *ngIf="message.attachments?.length"></app-chat-attachs>
  </div>
  <app-accounting-entry-preview *ngIf="showModal && message.eventTypeMessage === EEventTypes.AccountingEntryPreview" [accountingEntryModal]="showModal.metadata" (close)="closeModal()" />
</ng-container>
