/* INFORMACIÓN INICIAL DEL MÉTODO */

.info-card {
  padding: 2rem 2rem 2rem 2rem;
  background: var(--bg-elements);
  margin: var(--margin-info);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  line-height: var(--line-height) !important;
  color: var(--text-color);
  font-family: var(--font-family);
}

.info-card_content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.info-card_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.info-card_block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.7rem 0rem 0.7rem 1rem;
  border-radius: var(--border-radius);
  background: var(--table-columns);
  border: 1px solid var(--border-color);

  strong {
    color: var(--red-1);
  }
}

.info-card_description {
  ::ng-deep p {
    margin: 0.9rem 0;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }

  //::ng-deep strong { color: var(--red-1); }
}

@media (max-width: 768px) {
  .info-card_row {
    grid-template-columns: 1fr;
  }
}

@container app-content (max-width: 1280px) {
  .info-card {
    padding: 1.5rem;
  }

  .info-card_row {
    gap: 0.75rem;
  }

  .info-card_block {
    padding: 0.65rem 0 0.65rem 0.85rem;
  }
}
